- name: Check if Fossology image is present
  become: yes
  shell: docker images fossology/fossology | grep -q "fossology"
  register: fossology_image_check
  failed_when: false

# - name: Get Docker image facts
#   become: yes
#   community.docker.docker_container_info:
#     hostname: fossology/fossology
#   register: docker_image

- name: Display Docker images
  debug:
    msg: "Docker ID:{{ fossology_image_check }}"
  failed_when: false

- name: Print message
  debug:
    msg: Fossology image does not exist
  when: fossology_image_check.rc != 0

# - name: Removing docker image
#   become: yes
#   shell: |
#     docker image rm -f fossology/fossology
#   when: fossology_image_check.rc == 0