- name: Check if Fossology image is present
  become: yes
  shell: docker images fossology/fossology | grep -q "fossology"
  register: fossology_image_check
  failed_when: false

- name: Get Docker image facts
  community.docker.docker_image_info:
    filters:
      reference: fossology
  register: docker_image

- name: Display Docker container ID
  debug:
    msg: "Docker ID: {{ docker_image.images[0].Id }}"

- name: Print message
  debug:
    msg: Fossology image does not exist
  when: fossology_image_check.rc != 0

- name: Removing docker image
  become: yes
  shell: |
    docker image rm -f fossology/fossology
  when: fossology_image_check.rc == 0