- name: Check if Fossology image is present
  become: yes
  shell: docker images fossology/fossology
  register: fossology_image_check
  failed_when: false

- name: Display Docker images
  debug:
    msg: "Docker ID:{{ fossology_image_check }}"
  failed_when: false

- name: Get image id
  become: yes
  command: docker images --format="\{\{\.Repository\}\} \{\{.ID\}\}" | grep "fossology" | cut -d " " -f 2
  register: docker_image_id
  failed_when: false
  when: fossology_image_check.rc == 0

- name: print image id
  debug:
    msg: "image id: {{ docker_image_id }}"

- name: Check if container running
  become: yes
  command: docker ps --format '{{.ID}} {{.Image}}' | grep "fossology" | cut -d " " -f 1
  register: docker_container_id
  failed_when: false

- name: print container id
  debug:
    msg: "Container id: {{ docker_container_id }}"

# - name: Stop container
#   become: yes
#   shell: docker stop 

- name: Print message
  debug:
    msg: Fossology image does not exist
  when: fossology_image_check.rc != 0

# - name: Removing docker image
#   become: yes
#   shell: |
#     docker image rm -f fossology/fossology
#   when: fossology_image_check.rc == 0

  #get image id using image name
  #sudo docker images --format="{{.Repository}} {{.ID}}"
  #stop container using image id
  #sudo docker stop $(sudo docker ps -q --filter ancestor=63f4cac1a40f)

